[reuse_licensing]
reuse_specification_version = "{{{REUSE_SPECIFICATION_VERSION}}}"
spdx_license_list_version = "{{{SPDX_LICENSE_LIST_VERSION}}}"
package_license_expression = "{{{PACKAGE_LICENSE}}}"
package_copyright_notice = "{{{COPYRIGHT_NOTICE}}}"
package_license_file = "LICENSE"
